[submodule "Eigen"]
	path = Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "snap"]
	path = snap
	url = git@github.com:mahmoudim/snap.git
[submodule "clustering"]
	path = clustering
	url = git@github.com:mahmoudim/clustering.git
